.header{
    background-color: black;
    height: 60px;
}
#headText{
     color:whitesmoke;
     /* font-family: 'Dancing Script', cursive; */
font-family: 'Pacifico', cursive;  
 }

 #headLogo{
    height: 30px;
    width: 30px;

 }

 .personImg{
    width: 173px;
    height: 349px;
 }

 .bg{
   
   height: 20%;
   background-color: #ffbe0b;
 }

 #img1{
   width: 220px;
    height: 258px;
 }

 .img2{
   width: 220px;
   height: 258px;
 }
 
 .bg1{
   background-color: red;
}

.col1a{
   background-color: #9b5de5; 
   color: black;
 }
 .col2a{
   background-color: #f15bb5; 
  }
  .col3a{
   background-color: #ffb5a7; 
  }

  .c1{
   background-color: rebeccapurple;
  }
  .c2{
   background-color: rebeccapurple;
  }  
  .c3{
   background-color: rebeccapurple;
  } 
  .c4{
   background-color: rebeccapurple;
  }

  .cBorder{
   border: 2px solid #dde4f7;
  }

  .cBg{
   background-color: #e8d2d2;
   color: black;
  }

.line{
  color: #03045e;
  height: auto;
  width: 100vw;
  background-color: #caf0f8;
}

.border1{
  border: 2px solid #5e60ce;
  border-left: 5px solid #5e60ce;
  height: 180px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow:6px 2px 4px 4px #5e60ce;
}


.count{

  padding-left: 20vw;
  padding-top: 10vh;

}

.txtp{
  padding-left:20%;
  padding-bottom: 10vh; 
  
}
.fontGoogle{
  font-family: 'Playfair Display', serif;
  color: #023047;
}

.lastPic{
  width: 60vw;
  height: auto;
 /* height: 277px ; */
}
.bdr{
  border: 2px solid #5e60ce;
  border-left: 5px solid #5e60ce; 
  border-radius: 20px;
  box-shadow:6px 2px 4px 4px #c510af;
}